*,
*::before,
*::after {
     box-sizing: border-box;
    }
* { 
    font-family: Helvetica, sans-serif;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #1f2937;
    font-size: 18px;
}

.logo-header {
    height: 100px;
    width: 220px;
    padding: 10px 0px 0 15px;
}

.header-links {
    display: flex;
    list-style: none;
    text-decoration: none;
    gap: 15px;
    color:  #f9faf8;
    padding: 5px 10px 0 0;
}

.hero {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color: #1f2937;
    color: #f9faf8;
    padding: 35px 0 35px 0;
}

.hero h1 {
    font-size: 48px;
    font-weight: 900;
}
.container {
    display: flex;
    flex-direction: column;
    width: 600px;
    flex-wrap: wrap;
}
.main-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero p {
    font-size: 18px;
    color: #e5e7eb;
    width: 600px;
    justify-self: center;
    align-self: flex-start;
}

.logo {
    align-self: center;
    width: 400px;
    height: auto;
}

.sign-up {
    width: 100px;
    height: 25px;
    border-radius: 5px;
    background-color: #3882f6;
    color: #e5e7eb;
}

.main-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px 10px 40px 20px;
}

h2 {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
}

.icon {
    height: 100px;
    width: 100px;
}

.subjects {
    display: flex;
    justify-content: space-around;
    text-align: center;
    list-style: none;
    text-decoration: none;
    gap: 15px;
}

.body-part {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex: 1;
    background-color: #e5e7eb;
    color: #1f2937;
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    justify-content: space-around;
}

.quote {
    text-align: justify;
    padding: 200px 250px 20px 250px;
}
.author {
    align-self: flex-end;
    padding-right: 280px;
    padding-bottom: 100px;
}

.newsletter {
    background-color: #3882f6;
    display: flex;
    flex-direction: column;
    margin: 100px;
    padding: 20px;
}

h3 {
    font-size: 24px;
    color: #f9faf8;
}
.update {
    font-size: 18px;
    color: #f9faf8;
    padding-bottom: 15px;
}
.subscribe {
    border-color: #f9faf8;
    width: 100px;
    height: 30px;
    border-radius: 5px;
    align-self: center;
}

.footer {
    flex: 1;
    text-align: center;
    background-color: #1f2937;
    color: #e5e7eb;
    padding: 20px 0;
}